/* custom scrollbar */
.form::-webkit-scrollbar {
  width: 20px;
}

.form::-webkit-scrollbar-track {
  background-color: transparent;
}

.form::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.form::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-darker);
}

.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #fff6cc;
  border-color: var(--color-secondary-darker);
  color: var(--font-dark);
}

.actions .submit {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--font-dark);
}

.actions .submit:hover,
.actions .submit:active {
  background-color: var(--color-secondary-darker);
  border-color: var(--color-secondary-darker);
}

.invalid label {
  color: #ffa4b0;
}

.invalid input {
  border-color: #ca1029;
  background-color: #ffeff1;
}
